*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
}
a {
    text-decoration: none;
    color: #000;
}
.wap .navbar  {
    width: 100%;
    height: 50px;
    background-color: rgb(107, 107, 107);
    display: inline-block;
    padding: 5px 10px;
}
.wap .navbar .logo {
    display: inline-block;
    margin:10px;
}
.wap .navbar .logo a {
    padding: 5px 10px;
    letter-spacing: 3px;
}
.wap .navbar .navbar-right {
    float: right !important;
    padding: 5px 10px;

}
.wap .navbar .navbar-right ul li {
    display: inline-block;  
    padding: 5px 10px;
    letter-spacing: 3px;
}
.wap .header {
    width: 100%;
    height: 600px;
    position: relative;
}
.wap .header img {
    width: 100%;
    height: 600px;
    opacity: 0.7;
}
.wap .header .title-header {
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    bottom: 10px;
    left: 30px;
}
.wap .header .title-header h1 {
    display: inline-block;
    font-size:36px;
    letter-spacing:5px;
}
/* content */
.wap .content {
    width: 70%;
    height: 650px;
    margin: 80px auto;
    text-align: center;
    
}
.wap .content .image-content{
    display: inline-block;
    width: 49%;
}
.wap .content .image-content img {
    height: 550px;
    opacity: 0.7;
    display: inline-block;
}
.wap .content .text-content{
    display: inline-block;
    width: 49%;
    padding: 20px 30px;
    float: right;
    
}
.wap .menu {
    width: 70%;
    height:650px;
    text-align: center;
    margin: 0 auto;
}
.wap .menu .our-menu {
    display: inline-block;
    width: 49%;
    float: left;
    padding: 10px 10px;
}
.wap .menu .img-menu {
    display: inline-block;
    width: 49%;
}
.wap .menu .img-menu img {
    max-height: 650px;
    height:auto;
    opacity: 0.8;
}

.wap .menu .our-menu h1 {
    margin-bottom:25px;
    letter-spacing: 5px;
}
.wap .menu .our-menu h4 {
    margin: 10px 0;
    letter-spacing: 5px;
    text-align: left;
}
.wap .menu .our-menu p {
    margin: 10px 0 ;
    letter-spacing: 2px;
    text-align: left;
}