<form action="/modela" method="post">
    <label for="">số a</label>
    <input type="text" name="age">
    <label for="">số b</label>
    <input type="text" name="address">
    <button type="submit">Gửi</button>
</form>
